/*body{
    background: black;
}

.reloj {
    justify-content: center;
    color: aqua;
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 100px;
     
}

#fecha {
    font-size: 24px;
}

#hora {
    font-size: 36px;
}
*/

 

